#                                            ASSIGNMENT NO. - 1

# Question - 1:

Try 5 different functions of the string in python.

In [1]:
#Function-1: lower()-to return the string in lower case.

a="HeLLo woRLd!"
a.lower()

'hello world!'

In [2]:
#Function-2: replace()-to replace a string with another string. 

a.replace('L','M')

'HeMMo woRMd!'

In [3]:
#Function-3: swapcase()-to convert the lower case letters to upper case and vice versa.

a.swapcase()

'hEllO WOrlD!'

In [4]:
#Function-4: count()-to return the number of times a specified value occurs in a string.

b="hey, i Am From Kerala.what AbouT YOU?"
b.count('a')

3

In [5]:
#Function-5: partition()- to search a specified string and splits the entire string into a tuple containing three elements.

b.partition("Kerala")

('hey, i Am From ', 'Kerala', '.what AbouT YOU?')

# Question - 2:

Try 5 different functions of the List object in Python.

In [9]:
num=[1,2,3,4]
name=["elza","jack","rina","mike"]

In [10]:
#Function-1: extend()-to append elements from another list to the current list.

num.extend(name)
print(num)

[1, 2, 3, 4, 'elza', 'jack', 'rina', 'mike']

In [11]:
#Function-2: remove()-to remove the specified item from the list.

name.remove("rina")
print(name)

['elza', 'jack', 'mike']

In [12]:
#Function-3: len()-to return the number of items in a list.

len(name)

3

In [13]:
#Function-4: list()-the list() constructor is used to create a new list.

l=list(("apple",2,4,"grapes","orange",8,5,10))
print(l)

['apple', 2, 4, 'grapes', 'orange', 8, 5, 10]

In [14]:
#Function-5: clear()-to clear all the contents of a list i.e; it empties a list.

num.clear()
print(num)

[]

# Question - 3:

Experiment with atleast 5 default functions of Dictionary.

In [19]:
fruits={"red":"apple","violet":"grapes","yellow":"banana","orange":"orange"}
person={"name":"vikky","age":21,"address":"HNo-2,XYZ - Mumbai"}

In [20]:
#Function-1: keys()-to return a list of all the keys in the dictionary.

fruits.keys()

dict_keys(['red', 'violet', 'yellow', 'orange'])

In [21]:
#Funtion-2: items()-to return each item in the dictionary as tuples in a list.

fruits.items()

dict_items([('red', 'apple'), ('violet', 'grapes'), ('yellow', 'banana'), ('orange', 'orange')])

In [23]:
#Function-3: update()-to update the dictionary with the items from the given argument.

person.update({"age":40})
print(person)

{'name': 'vikky', 'age': 40, 'address': 'HNo-2,XYZ - Mumbai'}

In [24]:
#Function-4: pop()-to remove the item with the specified key name.

fruits.pop("violet")
print(fruits)

{'red': 'apple', 'yellow': 'banana', 'orange': 'orange'}

In [25]:
#Function-5: copy()-to make a copy of the dictionary.

dic=fruits.copy()
print(dic)

{'red': 'apple', 'yellow': 'banana', 'orange': 'orange'}